{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/game.css">
{% endblock %}
{% block content %}
<div class="game-content">
    <div class="game-name container">
        <div class="col-md-8"><h1>Game name!</h1></div>
        <div class="col-md-4"><h2 r-var="v.playerName"></h2><h3 r-if="v.hero"> is a hero!</h3></div>
    </div>
    <div class="center-block">
        <div class="table-responsive">
            <table class="table goods-table">
                <tbody>
                    <tr r-for="name of [1, 2, 3]">
                        <td r-var="l.name"></td>
                        <td>  good['value'] if not player['infinite'] else '∞' </td>
                        <td> good['name'] </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btns">
            <i class="fa fa-share-square btn"></i>
        </div>
    </div>
    <div class="table-responsive bottom-history">
    </div>
</div>
{% endblock %}