{% extends 'base.html' %}
{% block title %}
    Game Money
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            <h1>Welcome,
                <span
                        class="clickable"
                        r-var="v.playerName"
                        r-click="f.changeName()"
                ></span>
            </h1>
        </div>
        <div class="col-xs-12"><h2>Please, select one of the games:</h2></div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-games table-hover">
                    <thead>
                    <tr>
                        <th>Game</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr r-for="row of v.games" class="clickable" r-click="f.enterGame(l.row.id, l.row.password)">
                        <td><span r-var="l.row.game"></span></td>
                        <td><span r-var="l.row.name"></span></td>
                    </tr>
                    <tr>
                        <td colspan="9001"> <!-- it's over nine thousands -->
                            <button class="btn btn-primary btn-lg width-100" r-click="f.modalNewGame()">
                                <i class="fa fa-plus"></i>
                                Create new game
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        loginComplete = (comm, renderer) => {
            renderer.functions.enterGame = (roomId, passwordRequired) => {
                function enter(password = null) {
                    comm.send('enterGame', {id: roomId, password})
                }

                if (passwordRequired) {
                    askText('Enter the room password', 'password').then(enter);
                } else {
                    enter();
                }
            };
            renderer.functions.changeName = () => {
                askText("How do you wish to be named?").then(r => {
                    if (r) {
                        comm.send("nameChange", r);
                    }
                });
            };
            renderer.functions.modalNewGame = () => {
                comm.send('listGameTypes', '');
            };
            renderer.functions.createNewGame = () => {
                const type = renderer.getValue('gameType');
                const name = renderer.getValue('gameName');
                const password = renderer.getValue('gamePassword');

                comm.send("createGame", {type, name, password});
            };

            function onMessage(type, msg) {
                switch (type) {
                    case 'listGames':
                        renderer.variables.games = msg;
                        renderer.render();
                        break;
                    case 'gameEnter':
                        window.location.href = msg;
                        break;
                    case 'nameChange':
                        renderer.variables.playerName = msg;
                        renderer.render();
                        break;
                    case 'openNewGameModal':
                        renderer.variables.gameTypes = msg;
                        $('#modalNewGame').modal('show');
                        renderer.render();
                        break;
                }
            }

            renderer.render();
            comm.onMessage = onMessage;
            console.debug('logged in');
            comm.send("listGames", "");
        };
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade" role="dialog" id="modalNewGame">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a new game</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="game-type">Game type:</label>
                            <select id="game-type" r-val="w.gameType" class="form-control input-lg">
                                <option r-for="type of v.gameTypes"
                                        r-var="l.type.name"
                                        r-attr="{&quot;value&quot;: &quot;l.type.type&quot;}">
                                </option>
                            </select>

                            <label for="game-name">Game name:</label>
                            <input id="game-name" class="form-control input-lg" r-val="w.gameName">

                            <label for="game-password">Join password:</label>
                            <input id="game-password"
                                   class="form-control input-lg"
                                   type="password"
                                   placeholder="Anyone can join"
                                   r-val="w.gamePassword">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" r-click="f.createNewGame()">
                        Create
                    </button>
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
